[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/ssbarnea/hugo-theme-pure
[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = https://github.com/ssbarnea/reveal-hugo
[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/ssbarnea/hugo-theme-learn
